# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# FAISS and pickle index files
*.faiss
*.pkl

# Streamlit cache
.streamlit/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
*.ipynb